* {
  box-sizing: border-box;
}

/* Universal */
html {
  font-family: "Open Sans";
  font-size: 16px;
}

body {
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
  align-items: center;
}

header {
  height: 4rem;
  background-color: #FFF;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 1.5rem;
}

header nav a {
  color: #484848;
  border-radius: 1.5rem;
  text-decoration: none;
  padding: 0 0.5rem;
  transition: all 0.5s ease;
}

header nav a:hover{
  color: red;
}

.logo {
  color: #484848;
  font-family: "Poppins";
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.logo-img{
  width: 2.5rem;
  height:auto;
}
.logo .book {
  color:lightgrey;
  font-weight: 400;
}

.mobile {
  display:none;
}

.banner1 {
  background-color: lightgrey;
}

.img1{
  width: 60%;
  margin: 2rem 1.5rem;
}

.text1 {
    color: #484848;
    width: 30%;
    font-family: "Poppins";
}

.text1 h1{
  font-size: 2.5rem;
  font-weight: 700;
}

.text1 h3{
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
}

@media (max-width:931px){
  .button a{
    display: flex;
    width: 10%;
  }
}

.button a {
  color: white;
  background-color: #484848;
  font-size: 1rem;
  padding: 0.5rem 6rem;
  text-decoration: none;
  justify-content: center;
}

.button a:hover {
  background-color: #333;
  color: lightgrey;
}

/* Second banner */

.banner2 {
  display: flex;
  background-color: #FFF;
}

.left-container {
  max-width: 60%;
  margin: 2rem 1.5rem;
}

.left-text-2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
.right-container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40%;
    margin: 2rem 0rem;
}

.box {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

.box img {
  width: 35%;
  height: auto;
  margin: 1rem 1rem;
}

.text-descr{
  width:65%;
}

.box:hover {
  background-color: lightgrey;
}

.img-container img{
  width:100%;
}

.main-title-art {
  color:#484848;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.light {
  font-family: "Roboto"; sans-serif;
  font-size: 1rem;
  font-weight: 300;
  width:80%;
  margin-bottom: 2rem;
}

.by {
  font-family: Helvetica; sans-serif;
  font-weight: 300;
  margin-bottom:0px;
}

}
.light-title{
  font-family: "Roboto"; sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.title{
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: 500;
}

.special {
  background-color: lightgrey;
}

.border {
  border:0.5px solid lightgrey;
}

/* Third Banner */

.banner3{
  flex-direction: column;
  background-color: lightgrey;
}

.banner3 h1{
  color:#484848;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2rem 0 0 0;
  text-align: center;
}

.courses{
  display: flex;
  flex-flow: row wrap;
  padding: 0 4.5rem;
}

.info {
  width: 30%;
  display: flex;
  flex-flow: column;
  margin: 2rem auto;
  padding-bottom: 1rem;
  background-color: whitesmoke;
  transition-duration: .5s;
}

.info .img-info-container img{
  width: 100%;
  height:auto;
}

.info:hover{
  background-color: lightblue;
}

.info h3{
  color: #484848;
  font-family: "Poppins";
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 1rem;
}

.info p {
  color: #484848;
  margin: 0.5rem 1rem ;
}

/* Video Section */

.banner4{
  background-color: #FFF;
}

.thesis-container{
  display: flex;
}

.banner4 h1{
  color:#484848;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2rem 0 0 0;
  text-align: center;
}

.mainvideo {
  display: flex;
  flex-flow: column;
  width: 60%;
}

.vid-container video {
  width: 100%;
}

.video-title{
  color:#484848;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

footer {
  border-top: 0.5px solid lightgrey;
  justify-content: space-between;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

footer nav a {
  padding-left: 1rem;
}

footer nav a:hover{
  color:red;
}

.footer-text{
font-family: "Roboto"; sans-serif;
font-size: 1rem;
font-weight: 300;
}
