* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

header {
  height: 4rem;
  background-color: #FFF;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 1.5rem;
}

header nav a {
  color: #484848;
  border-radius: 1.5rem;
  text-decoration: none;
  padding: 0 0.5rem;
  transition: all 0.5s ease;
}

.logo {
  color: #484848;
  font-family: "Poppins";
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.logo-img{
  width: 2.5rem;
  height:auto;
}
.logo .book {
  color:lightgrey;
  font-weight: 400;
}

.mobile {
  display:none;
}

.banner1 {
  background-color: lightgrey;
}

.img1{
  width: 60%;
  margin: 2rem 1.5rem;
}

.text1 {
    color: #484848;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    font-family: "Poppins";

}

.text1 h1{
  font-size: 2.5rem;
  font-weight: 700;


}

.text1 h3{
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 1.5rem;


}
.button {
  width: 100%;
}


.button a  {
  color: white;
  background-color: #484848;
  font-size: 1rem;
  padding: 0.5rem 6rem;
  text-decoration: none;
  justify-content: center;
}

.button a:hover {
  background-color: #333;
  color: lightgrey;


}
