* {
  box-sizing: border-box;
}

/* Universal */
html {
  font-family: "Open Sans";
  font-size: 16px;
}

body {
  line-height: 1.2;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
  align-items: center;
}

header {
  height: 4rem;
  background-color: #FFF;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 1.5rem;
}

header nav a {
  color: #484848;
  border-radius: 1rem;
  text-decoration: none;
  padding: 0 0.5rem;
  transition: all 0.5s ease;
}

header nav a:hover{
  color: #0090ab;
  opacity: 0.5;
}

.logo {
  color: #484848;
  font-family: "Poppins";
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.logo-img{
  width: 2.5rem;
  height:auto;
}
.logo .book {
  color:lightgrey;
  font-weight: 400;
}

.mobile{
  display:none;
}

.banner1 {
  background-color: lightgrey;
}

.img1{
  width: 60%;
  margin: 2rem 1.5rem;
}

.text1 {
    color: #484848;
    width: 30%;
    font-family: "Poppins";
}

.text1 h1{
  font-size: 2.5rem;
  font-weight: 700;
}

.text1 h3{
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
}

.button a {
  color: white;
  background-color: #484848;
  font-size: 1rem;
  padding: 0.5rem 6rem;
  text-decoration: none;
  justify-content: center;
}

.button a:hover {
  background-color: lightblue;
  color: #333;
  border: 0.5px solid #333;
  transition: all 0.5s ease;
}

/* Second banner */

.banner2 {
  display: flex;
  background-color: #FFF;
}

.left-container, .left-container-video {
  max-width: 60%;
  margin: 2rem 1.5rem;
}

.left-text-2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.right-container, .right-container-video {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40%;
    margin: 2rem 0rem;
}

.box {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  transition: all 0.5s ease;
}

.img-mobile {
  display: none;
}

.box img {
  width: 35%;
  height: auto;
  margin: 1rem 1rem;
}

.text-descr{
  width:65%;
}

.blue {
  color: #0090ab;
}

.blue:hover {
  color: red;
}

.box:hover {
  background-color: lightblue;
}

.img-container img{
  width:100%;
}

.main-title-art {
  color:#484848;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.light {
  font-family: "Roboto"; sans-serif;
  font-size: 1rem;
  font-weight: 300;
  width:80%;
  margin-bottom: 2rem;
}

.light2 {
  font-family: "Roboto"; sans-serif;
  font-size: 1rem;
  font-weight: 300;
  width:7rem;
  margin-bottom: 2rem;
}

.by {
  font-family: Helvetica; sans-serif;
  font-weight: 300;
  margin-bottom:0px;
}

}
.light-title{
  font-family: "Roboto"; sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.title{
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: 500;
}

.special {
  background-color: lightgrey;
}

.border {
  border:0.5px solid lightgrey;
}

/* Third Banner */

.banner3{
  flex-direction: column;
  background-color: lightgrey;
}

.banner3 h1{
  color:#484848;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2rem 0 0 0;
  text-align: center;
}

.courses{
  display: flex;
  flex-flow: row wrap;
  padding: 0 4.5rem;
}

.info {
  width: 30%;
  display: flex;
  flex-flow: column;
  margin: 2rem auto;
  padding-bottom: 1rem;
  background-color: whitesmoke;
  transition-duration: .5s;
}

.info .img-info-container img{
  width: 100%;
  height:auto;
}

.info:hover{
  background-color: lightblue;
}

.info h3{
  color: #484848;
  font-family: "Poppins";
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 1rem;
}

.info p {
  color: #484848;
  margin: 0.5rem 1rem ;
}

/* Video Section */

.banner4{
  background-color: #FFF;
}

.thesis-container{
  display: flex;
}

.banner4 h1{
  color:#484848;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2rem 0 0 0;
  text-align: center;
}

.vid-container video {
  width: 100%;
}

.vid-container video:hover {
  opacity: 0.8;
  transition: all 0.5s ease;
}

.video-title{
  color:#484848;
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

footer {
  border-top: 0.5px solid lightgrey;
  justify-content: space-between;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

footer nav a {
  padding-left: 1rem;
}

footer nav a:hover{
  color: #0090ab;
  opacity: 0.5;
}

.footer-text{
font-family: "Roboto"; sans-serif;
font-size: 1rem;
font-weight: 300;
}

/* Media Query for tablet/phone */

@media (max-width:931px){
  .button a{
    display: flex;
    margin-bottom: 2rem;
  }
}

@media (max-width:768px){

  /* Navbar Mobile */
  .mobile {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

  .mobile a:hover {
    opacity: 0.2;
}

   .logo {
    display: none;
  }

  header .navbar {
      display: none;
    }
  /* END Navbar Mobile */

  .banner1{
    flex-direction: column;
  }

  .banner1 img {
    width: 100%;
    height: auto;
    margin-top:0rem;
  }

  .text1 {
    width: 90%;
    flex-direction: column;
    align-items: center;
    text-align: left;
    left: 0;
    width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .text1 h1 {
    margin-top: 0;
  }

  .text1 h3 {
    padding-bottom: 0;
  }

    .left-container {
      display: none;
  }

    .right-container{
      width: 100%;
      margin-bottom: 0;
}

    .box {
     flex-direction: column;
     background-color: #FFF;

  }

    .box .img-desktop {
      display: none;
}

    .box .img-mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
  }

    .text-descr {
      width: 100%;
      margin-left: 2rem;
  }

    .title {
      margin-bottom: 1rem;
  }

    .light{
      margin:0.5rem 0 1rem 0 ;
  }

    .blue{
      margin-bottom: 2rem;
  }

    .button a{
      display: flex;
      max-width: 100%;
      padding: 1rem 6rem ;
  }

    .banner3 {
      background-color: #FFF;
      border-top: 0.5px solid lightgrey;
      padding-bottom: 2rem;
      border-bottom: 0.5px solid lightgrey;
  }

    .banner3 h1 {
       margin-top:2rem;
       margin-bottom: 1rem;
  }

    .img-info-container {
      display: none;
  }

    .courses {
      padding: 0;
  }

    .info {
      width: 100%;
      display: flex;
      flex-flow: column;
      margin: 0.5rem 0  0.5rem  0;
      padding-bottom: 0;
      background-color: whitesmoke;
      transition-duration: .5s;
  }

    .info h3 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      margin: 1rem 1rem;
  }

    .type, .descr {
      display: none;
  }

    .banner4 {
      flex-direction: column
  }

    .banner4 video {
      width: 100%;
      height: auto;
      margin-top:0rem;
  }

    .left-container-video {
      max-width: 100%;
      margin: 1rem 0 2rem 0;
  }

    .right-container-video {
      display: none;
  }

    .left-text-2 {
      display: none;
  }

    footer {
      justify-content: center;
  }

    footer nav {
      display: none;
  }
